<ion-modal-view>
  
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">참여자들</h1>
    <div class="buttons">
      <button class="button button-clear ion-close-circled" ng-click="closeModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <a class="item item-avatar"> <img src="img/material1.jpg">
        <h2>Material</h2>
        <p>Sheets of paper</p>
      </a>
      <a class="item item-avatar"> <img src="img/material2.jpg">
        <h2>Motion</h2>
        <p>Accent and bring attention</p>
      </a>
      <a class="item item-avatar"> <img src="img/material3.jpg">
        <h2>Ink</h2>
        <p>Fluidity</p>
      </a>
    </div>
  </ion-content>
</ion-modal-view>