<ion-modal-view>
  
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">참여자들</h1>
    <div class="buttons">
      <button class="button button-clear ion-close-circled" ng-click="closeModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list" id="participant-list" ng-repeat="participant in participants track by participant._id">
      <a img ng-src="{{program.thumbImg}}" />
      <a class="item item-avatar"> <img ng-src="{{::participant.pic||'img/default-user.png'}}">
        <h2>{{::participant.username}}</h2>
        <p>join at <span>{{::participant.joinDate | date:'medium'}}</span></p>
      </a>
    </div>
  </ion-content>
</ion-modal-view>