<ion-view view-title="현재 방영중인 프로그램">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-refresh" ng-click="doRefresh()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="프로그램 목록 업데이트..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list class="list" id="program-list">
      <ion-item class="program-item" ng-repeat="program in programlist track by program._id">
        <div class="list card">
          <div class="item item-avatar">
            <img ng-src="{{program.thumbImg}}" class="program-item-img">
            <h2 class="title">{{::program.scheduleName}}</h2>
            <span class="episode" ng-show="program.episodeNo">-{{::program.episodeNo}}</span>
            <p>{{::program.channelName}}</p>
            <p>{{::program.startHour}}~{{::program.endHour}}</p>
          </div>
          <div ng-show="program.lastTalk" class="item item-body">
            <!--<img class="full-image" src="delorean.jpg">-->
            <!--<p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>-->
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <!--<a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>-->
            <a class="tab-item" href="#">
              <i class="icon ion-person-stalker"></i>
              <span class="badge badge-assertive">{{program.members}}</span>
            </a>
            <a class="tab-item" href="{{::program.roomName}}" ng-click="ink()">
              <i class="icon ion-chatbubbles"></i> 대화방 참여 </a>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <!--<div class="list">

        <a ng-repeat="item in items" 
           href="#/{{item.id}}"
           class="item item-thumbnail-left">

          <img ng-src="{{ item.image }}">
          <h2>{{ item.album }}</h2>
          <h4>{{ item.artist }}</h4>
        </a>

      </div>-->
  </ion-content>
</ion-view>