<ion-tabs class="tabs-icon-top tabs-top tabs-striped tabs-positive tabs-icon-only" ng-class="{'tabs-item-hide': $root.hideTabs}">

	<!-- Dashboard Tab -->
	<ion-tab title="Contact" icon="icon ion-home" href="#/app/main/contact" >
		<ion-nav-view name="main-contact"></ion-nav-view>
	</ion-tab>

	<!-- Friends Tab -->
	<ion-tab title="About" icon="icon ion-heart" href="#/app/main/about">
		<ion-nav-view name="main-about"></ion-nav-view>
	</ion-tab>
<!--
	<ion-nav-view name="chat"></ion-nav-view>-->
	<!-- Account Tab -->
	<!--<ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
		<ion-nav-view name="tab-account"></ion-nav-view>
	</ion-tab>-->

</ion-tabs>